@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@200&display=swap");
:root {
  --main-color: #0fb9b1;
  --bg-color-1: #eee;
  --bg-color-2: #fff;
  --text-color-1: #444;
  --text-color-2: #666;
  --box-shadow: 0 0.5px 1.5px rgba(0, 0, 0, 0.2);
  --font-family: "Urbanist", sans-serif;
}
.compliments {
  padding-top: 130px;
}

.box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 1rem;
  margin: 0 9%;
}

.compliments h1 {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2.3rem;
  color: var(--text-color-1);
}

.box-container .box {
  padding: 3rem;
  border-radius: 5px;
  box-shadow: var(--box-shadow);
  background-color: var(--bg-color-2);
}

.box-container .box i {
  height: 3.4rem;
  line-height: 3.4rem;
  width: 3.4rem;
  text-align: center;
  border-radius: 50%;
  font-size: 1.4rem;
  cursor: pointer;
  color: var(--bg-color-2);
  background-color: var(--main-color);
  margin-bottom: 1.2rem;
}

.box-container h3 {
  font-size: 1.4rem;
  color: var(--text-color-1);
  margin-bottom: 1.2rem;
}

.box-container p {
  font-size: 1.1rem;
  color: var(--text-color-2);
}
