:root {
  --main-color: #0fb9b1;
  --bg-color-1: #eee;
  --bg-color-2: #fff;
  --text-color-1: #444;
  --text-color-2: #666;
  --box-shadow: 0 0.5px 1.5px rgba(0, 0, 0, 0.2);
}

.info {
  margin: 120px 9%;
  background-color: #fff;
  box-shadow: var(--box-shadow);
  height: 600px;
  border-radius: 5px;
}

.family-image {
  height: 70%;
  width: 100%;
}

.family-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.info .content h3 {
  padding: 1.2rem;
  text-align: center;
}

.info .content p {
  padding: 0 2rem;
}

@media (max-width: 768px) {
  .family-image {
    height: 60%;
    width: 100%;
  }

  .info .content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}
